title: Molley Docs
description: Base static site generated via Jekyll for GitHub Pages
baseurl: ""
url: ""

markdown: kramdown
theme: minima

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

plugins:
  - jekyll-feed
