<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    {%- if site.description -%}
    <meta name="description" content="{{ site.description }}" />
    {%- endif -%}
    {%- if page.stylesheets -%}
      {%- for stylesheet in page.stylesheets -%}
    <link rel="stylesheet" href="{{ stylesheet }}" />
      {%- endfor -%}
    {%- endif -%}
    {%- if page.head_inject -%}
      {%- for head_block in page.head_inject -%}
    {{ head_block }}
      {%- endfor -%}
    {%- endif -%}
  </head>
  <body>
    <main>
      {{ content }}
    </main>
    {%- if page.inline_scripts -%}
      {%- for inline_script in page.inline_scripts -%}
    <script>
{{ inline_script | strip }}
    </script>
      {%- endfor -%}
    {%- endif -%}
    {%- if page.scripts -%}
      {%- for script in page.scripts -%}
        {%- if script.raw -%}
    {{ script.raw }}
        {%- elsif script.inline -%}
    <script
      {%- if script.id -%} id="{{ script.id }}"{%- endif -%}
      {%- if script.type -%} type="{{ script.type }}"{%- elsif script.module -%} type="module"{%- endif -%}
      {%- if script.async -%} async{%- endif -%}
      {%- if script.defer -%} defer{%- endif -%}
    >
{{ script.inline | strip }}
    </script>
        {%- else -%}
    <script
      {%- if script.id -%} id="{{ script.id }}"{%- endif -%}
      {%- if script.src -%} src="{{ script.src }}"{%- endif -%}
      {%- if script.type -%} type="{{ script.type }}"{%- elsif script.module -%} type="module"{%- endif -%}
      {%- if script.async -%} async{%- endif -%}
      {%- if script.defer -%} defer{%- endif -%}
      {%- if script.crossorigin -%} crossorigin="{{ script.crossorigin }}"{%- endif -%}
      {%- if script.referrerpolicy -%} referrerpolicy="{{ script.referrerpolicy }}"{%- endif -%}
    >
      {%- if script.content -%}
{{ script.content | strip }}
      {%- endif -%}
    </script>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {%- if page.body_end_inject -%}
      {%- for body_block in page.body_end_inject -%}
    {{ body_block }}
      {%- endfor -%}
    {%- endif -%}
  </body>
</html>
